.logo {
    display: flex;
    align-items: center;
    /* gap: 10px; */
    /* border: 1px solid; */

    .image {
        width: 50px;

        img {
            width: 100%;
        }
    }

    .text {
        display: flex;
        align-items: center;
        justify-content: center;

      
        /* Background color for the circle */

        a {
            padding: 8px 12px;

            border-radius: 50px;
            /* Make the p tag rounded */
            text-decoration:  none;
            color: black;
            /* Text color */
            font-weight: bold;
            /* Optional: bold text */
            text-align: center;
            font-size: 20px;
        }
    }
}

.navcontainer {
    display: flex;
    position: fixed; /* Fixes the navbar at the top */
    top: 0; /* Positions it at the top */
    width: 100%; /* Full width */
    padding: 10px;
    margin: auto;
    align-items: center;
    justify-content: space-between;
    background-color: white; /* Background color to make it stand out */
    z-index: 1000; /* Ensures it's on top of other elements */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* Adds shadow for better visibility */


    .left {
        display: flex;
        /* border: 1px solid; */
        align-items: center;
        justify-content: center;
        position: relative;
        width: 15vw;

        .paragraph {
            z-index: 1;
            font-weight: 500;
        }

        .icons {
            position: absolute;
            top: 0;
            left: 0;
            transition: transform 0.3s ease;
        }

    }

    .linkstag {
        width: 50vw;
        display: flex;
        justify-content: flex-end;
        gap: 40px;
        /* border: 1px solid; */
        padding: 0px 20px;
        a {
            text-decoration: none;
            color: black;
            font-weight: 500;
        }
    }
}


@media screen and (max-width: 500px) {
    .navcontainer {
        .linkstag {
            display: none; /* Hides links on screens 400px or narrower */
        }
    }
}