body {
  margin: 0; /* Remove default margins */
  padding: 0; /* Remove default padding */
  overflow-x: hidden; /* Prevent horizontal scrolling */
}

@media screen and (min-width : 500px) {
  body {
    margin: 0; /* Remove default margins */
    padding: 0; /* Remove default padding */
    overflow-x: hidden; /* Prevent horizontal scrolling */
  }
}